@font-face {
  font-family: 'Jomhuria';
  font-style: normal;
  font-weight: 400;
  src: local('Jomhuria'), local('Jomhuria-Regular'), url(https://fonts.gstatic.com/s/jomhuria/v3/AjyPFjARQrgruaBMaquHoPesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
