<?xml version="1.0" encoding="UTF-8"?>
    <widget xmlns = "http://www.w3.org/ns/widgets" id = "org.chowlyefong" versionCode = "1" version = "1.0.0" >
    <name>OneLife</name>

    <description>
        OneLife app for 2017 Digithon Challenge. Developed by Chow Lye Fong
    </description>

    <author href="https://my.linkedin.com/in/chowlyefong" email="chowlyefong@yahoo.com">
        Chow Lye Fong
    </author>
	<preference name="permissions" value="none" />
	<preference name="orientation" value="portrait" />
	<preference name="target-device" value="universal" />
	<preference name="fullscreen" value="true" />
	<platform name="ios" />
	<platform name="android" />
	
	<icon src="icon.png" />
	<plugin name="cordova-plugin-inappbrowser" spec="1.3.0" />
	<plugin name="cordova-plugin-device" spec="1.1.2" />
	<plugin name="cordova-plugin-splashscreen" spec="3.2.2" />

</widget>
