<xml version="1.0" encoding="UTF-8">
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "org.chowlyefong"
        versionCode = "1"
        version     = "1.0.0" >

    <name>OCBC OneLife</name>

    <description>
        OneLife app for 2017 Digithon Challenge. Developed by Chow Lye Fong
    </description>

    <author href="https://my.linkedin.com/in/chowlyefong" email="chowlyefong@yahoo.com">
        Chow Lye Fong
    </author>

	<platform name="ios" />
	<platform name="android" />

<!--	<plugin name="cordova-plugin-whitelist" />
	<access origin="*" /> -->

</widget>
</xml>